<aside class="sidebar" [class.collapsed]="!isOpen">
  <div class="sidebar-header">
    <div class="logo">
      <span class="logo-text" *ngIf="isOpen">PhoneAccess</span>
      <span class="logo-icon" *ngIf="!isOpen">PA</span>
    </div>
  </div>
  
  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li *ngFor="let item of navItems" class="nav-item" [class.active]="item.active">
        <a [routerLink]="item.route" class="nav-link">
          <span class="nav-icon" [ngClass]="'icon-' + item.icon"></span>
          <span class="nav-label" *ngIf="isOpen">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>